<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Footer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link href="../static/footer/css/core.css" data-rd-options="include"
	th:href="@{/footer/css/core.css}" rel="stylesheet" media="screen" />
</head>

<body>
	<div class="container"></div>
	<rewe-digital-content> <footer class="footer">
		<div class="container">
			<span class="text-muted">(c) Rewe Digital - Example Shop</span>
		</div>
	</footer> </rewe-digital-content>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>